extends ../layout

block content
    h1 课程设计
    hr
    a.btn.btn-raised.btn-primary(href='curriculumn/add', role='button') 增加
    .row
        .col-md-6           
            table.table
                thead
                    tr
                        td 课程
                tbody
                    each curriculumn in data
                        tr
                            td
                                a(href='curriculumn/edit/'+curriculumn._id)= curriculumn.name