extends ../layout

block content
    h1 教练
    hr
    .row
        .col-md-6
            a.btn.btn-raised(href='coach/add', role='button') 增加
    .row
        table.table
            thead
                tr
                    td 用户名
                    td 简称
            tbody
                each teacher in data
                    tr
                        td
                            a(href='coach/edit/'+teacher._id)= teacher.username
                        td
                            =teacher.profile.name


